body {
	background-image: url(https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif);
	background-blend-mode: soft-light;
	font-family: Helvetica, sans-serif;
	text-align: center;
	/*	background-color: #97C0B7;*/
	color: ghostwhite;
}

#queryOne,
#queryTwo,
#queryThree {
	font-size: 30px;
	text-align: center;
	color: #97EEFF;
	border-radius: 25px;
	border-color: #402A30;
	width: 200px;
	height: 50px;
	background-color: #FFA8BE;
}

#info {
	font-family: Arial, sans-serif;
	color: ghostwhite;
	margin: 2em 0;
}

#submit {
	padding: auto;
	font-size: 25px;
	margin-bottom: auto;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border-color: #402A30;
	border-width: medium;
	margin: 2em 0;

}


#containerOne,
#containerTwo,
#containerThree {
/*	display: inline-grid;*/
	/*	grid-gap: 5px;*/
	/*	margin: 0 auto;*/
	grid-template-columns: 1fr 1fr ;

}

#gifone,
#giftwo,
#gitthree {
	display: grid;
	grid-template-columns: 1fr 1fr;
	display: inline-block
}

.gifone,
.giftwo,
.gifthree{
	display: inline-block;
	/*	height: 200px;*/
}

.search img {
	width: 100%;
}
