body {
	font-family: Helvetica, sans-serif;
	text-align: center;
	background-color: #444F6A;
	color: white;

}

#query {
	font-size: 30px;
	text-align: center;
	color: #00bfff;
	width: 200px;
	height: 50px;
/*	padding: 0 20px;*/
		
}
#search{
    padding:auto;
    font-size: 25px;
    margin-bottom:auto;
}

#container {
	width: 800px;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr 1fr ;

}

#gifs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gif {
	display: inline-block;
	height: 200px;
}

.gif img {
	width: 100%;
}
